  <div class="container">

    <div class="row row-content">
      <div class="col-xs-12">
        <h1 align="center">Edit Profile</h1>
      </div>
    </div>

    <div class="row row-content well">
      <div class="col-xs-12">
        <h3 align="center">{{user.username}}</h3> 
      </div>
      <div class="col-xs-12 col-sm-9">
        <form class="form-horizontal" name="profileForm" ng-submit="submitProfile()" novalidate>

          <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">First Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter First Name" ng-model="user.firstname">
            </div>
          </div>

          <div class="form-group">
            <label for="lastname" class="col-sm-2 control-label">Last Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter Last Name" ng-model="user.lastname">
            </div>
          </div>

          <div class="form-group">
            <label for="emailid" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="emailid" name="emailid" placeholder="Email" ng-model="user.email">
            </div>
          </div>

          <div class="form-group">
            <label for="feedback" class="col-sm-2 control-label">Status message</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="feedback" name="feedback" rows="2" ng-model="user.status"></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>          

        </form>
      </div> 

  </div>