  <div class="container">

    <div class="row row-content">
      <div class="col-xs-12">
        <h1 align="center">{{mainTitle}}</h1>
      </div>
    </div>

    <div class="row row-content well">

      <div class="col-xs-12 col-sm-9">
        <form class="form-horizontal" name="profileForm" ng-submit="submitEvent()" novalidate>

          <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="title" name="title" placeholder="Enter the Title" ng-model="event.title">
            </div>
          </div>

          <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="description" name="description" rows="5" placeholder="Enter your description of the Event" ng-model="event.description"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label for="datefield" class="col-sm-2 control-label">Date</label>
            <div class="col-sm-10">
              <p class="input-group">
                <input type="text" id="datefield" class="form-control" uib-datepicker-popup="{{format}}" ng-model="event.eventDate" placeholder="dd-MM-YYYY" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>
            </div>
          </div>

          <div class="form-group">
            <label for="age" class="col-sm-2 control-label">Age</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="age" name="age" placeholder="Age restriction" ng-model="event.ageRestrict">
            </div>
          </div>

          <div>
<!--             Auto Complete Type:
            <select ng-model="vm.types">
              <option value="['geocode']">Geodode</option>
              <option value="['establishment']">Establishment</option>
              <option value="['address']">Address</option>
            </select><br/> -->

            <div class="form-group">
              <label for="address" class="col-sm-2 control-label">Place</label>
              <div class="col-sm-10">
                <input places-auto-complete size=80 class="form-control"
                  name="address"
                  id="address" 
                  ng-model="vm.address"
                  component-restrictions="{}"
                  types="{{vm.types}}"
                  on-place-changed="vm.placeChanged()" />
              </div>
            </div>
            
<!--             <div ng-show="vm.place">
              Address = {{vm.place.formatted_address}} <br/>
              Location: {{vm.place.geometry.location}}<br/>
            </div>
            address : {{vm.address}} -->
            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-2">
                <ng-map></ng-map>
              </div>
            </div>

          </div>        

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary">{{buttonName}}</button>
            </div>
          </div>

        </form>
      </div> 

  </div>