  <footer class="row-footer" id="footer">
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center" id="social">
          <a class="btn btn-social-icon" id="linkedin" href="https://ru.linkedin.com/in/tupavov" target="_blank"><i class="fa fa-linkedin"></i></a>
          <a class="btn btn-social-icon" id="github" href="https://github.com/tauinbox" target="_blank"><i class="fa fa-github"></i></a>
          <p>&copy; Alexander Tupavov, 2016</p>
        </div>
      </div>
    </div>
  </footer>
