<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <button ng-blur="collapseMenu()" id="navbarToggle" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

<!--       <a class="pull-left" href="/">
        <div id="iwg-logo" alt="Logo image"></div>
      </a> -->

      <div class="navbar-brand">
        <a href="/"><h1>iWillGo!</h1></a>
      </div>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right" id="navlist">
        <li ng-class="{active: stateis('app')}"><a href="#events"><i class="fa fa-calendar" aria-hidden="true"></i> Events</a></li>
        <hr class="visible-xs">
        <li ng-if="!loggedIn"><a ng-click="openLogin()"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
        <hr ng-if="!loggedIn" class="visible-xs">
        <li ng-if="!loggedIn"><a ng-click="openRegister()"><i class="fa fa-user-plus" aria-hidden="true"></i> Register</a></li>
        <hr ng-if="!loggedIn" class="visible-xs">
        <li ng-if="loggedIn" ng-class="{active: stateis('app.friends')}"><a href="#friends"><i class="fa fa-users" aria-hidden="true"></i> Friends</a></li>
        <hr ng-if="loggedIn" class="visible-xs">
        <li ng-if="loggedIn" ng-blur="collapseMenu2()" class="dropdown" ng-class="{active: stateis('app.profile')}">
          <a href="#profile" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user" aria-hidden="true"></i> {{username}} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#profile"><i class="fa fa-cog" aria-hidden="true"></i> Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a ng-click="logOut()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
          </ul>
        </li>
        <hr ng-if="loggedIn" class="visible-xs">
<!--         <li ng-if="loggedIn"><a ng-click="logOut()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li> -->
      </ul>
    </div>

  </div>
</nav>

<!--     <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="app"><img src="images/logo.png" height=30 width=41></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="{active: stateis('app')}"><a ui-sref="app">
                        <span class="glyphicon glyphicon-home"
                         aria-hidden="true"></span> Home</a></li>
                    <li ng-class="{active: stateis('app.aboutus')}"><a ui-sref="app.aboutus">
                        <span class="glyphicon glyphicon-info-sign"
                         aria-hidden="true"></span> About</a></li>
                    <li ng-class="{active: stateis('app.menu') || stateis('app.dishdetails')}"><a ui-sref="app.menu">
                         <span class="glyphicon glyphicon-list-alt"
                         aria-hidden="true"></span> 
                         Menu</a></li>
                     <li ng-class="{active: stateis('app.favorites')}"><a ui-sref="app.favorites">
                     <i class="fa fa-heart-o"></i> Favorites</a></li>
                     <li ng-class="{active: stateis('app.contactus')}"><a ui-sref="app.contactus">
                     <i class="fa fa-envelope-o"></i> Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-if="!loggedIn"><a ng-click="openLogin()">
                    <span class="glyphicon glyphicon-log-in"></span> Login</a>
                    </li>
                    <li ng-if="loggedIn">
                    <a>{{username}}</a>
                    </li>
                    <li ng-if="loggedIn">
                    <a ng-click="logOut()">
                    <span class="glyphicon glyphicon-log-in"></span> Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>   -->       
